@import './designSystem'

.container
  padding: rem(27) 0 rem(52)

  .komponents
    display: flex
    padding: rem(5) 0
    transition: all .4s cubic-bezier(.4,0,.2,1)

    +mq(maxExtraSmall)
      flex-direction: column

    +mq(minSmall)
      flex-wrap: wrap

  li
    display: flex
    padding: rem(10)

    +mq(minSmall)
      width: 50%

    a
      transition: all .4s cubic-bezier(.4,0,.2,1)
      display: flex
      flex-direction: column
      gap: rem(7)
      border: 1px solid rgba($hex-dark, .2)
      border-radius: rem(3)
      overflow: hidden
      width: 100%

      .subject
        aspect-ratio: 1920 / 1080
        background-color: $hex-white
        background-image: radial-gradient(circle at rem(25) rem(25), lightgray 2%, transparent 0%), radial-gradient(circle at rem(75) rem(75), lightgray 2%, transparent 0%)
        background-size: rem(100) rem(100)
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: rem(7)
        border-bottom: 1px solid rgba($hex-dark, .2)
        padding: 0 rem(27)
        text-align: center

        span
          letter-spacing: -0.07em
          line-height: 1.16666667

          &[lang="ko"]
            font-size: rem(24)
            font-weight: 800
            color: $hex-black

          &[lang="en"]
            font-size: rem(14)
            color: $hex-dark

      .summary
        display: flex
        flex-direction: column
        flex-grow: 1
        gap: rem(12)
        padding: rem(12)

        .languages
          div
            height: rem(16)

          dl
            display: flex

          div
            display: flex

          dt
            +screen-reader-only

          dd
            display: flex
            gap: rem(2)

            &.noTS
              +screen-reader-only

            &.useTypeScript
              &::before
                content: 'with.'
                font-size: rem(14)
                padding: 0 rem(3) 0 rem(12)
                color: $hex-dark

              i
                display: block
                width: rem(16)
                height: rem(16)

              em
                padding-left: rem(3)
                font-size: rem(14)
                font-weight: 900
                font-style: normal
                color: #3178C6

              span
                +screen-reader-only

            i
              display: block
              width: rem(16)
              height: rem(16)

            span
              transform: translateY(rem(-2))
              font-size: rem(16)
              font-weight: 900
              color: $hex-black

        .description
          display: flex
          flex-direction: column

          p
            line-height: 1.27

            &[lang="ko"]
              font-size: rem(16)
              color: $hex-default

            &[lang="en"]
              font-size: rem(14)
              color: $hex-dark

        .date
          display: flex
          align-items: flex-end
          flex-grow: 1
          gap: rem(4)

          time, cite
            font-size: rem(12)
            color: $hex-dark

          time
            &::after
              content: '•'
              padding-left: rem(4)
              font-size: rem(12)
              color: $hex-dark
