@import './designSystem'

.articles
  display: flex
  flex-direction: column
  gap: rem(52)
  padding: rem(50) 0 rem(150)

  .backword
    display: flex
    align-items: center
    gap: rem(7)
    background-color: transparent

    &:hover, &:focus
      i
        transform: translateX(rem(-3))

      span
        color: $hex-accent
        letter-spacing: 0.07em

    i
      transition: all .4s cubic-bezier(.4,0,.2,1)
      display: block
      width: rem(14)
      height: rem(14)

    span
      transition: all .4s cubic-bezier(.4,0,.2,1)
      font-size: rem(16)
      font-weight: 700
      line-height: 1
      color: $hex-black

  article
    display: flex
    flex-direction: column
    gap: rem(52)

    &::after
      content: ''
      display: block
      height: rem(1)
      background-color: $hex-light

    &:last-of-type::after
      display: none

    h2
      a, div
        display: flex
        flex-direction: column
        gap: rem(7)

        span
          font-weight: 700
          line-height: 1

          &[lang="ko"]
            font-size: rem(36)
            color: $hex-default

          &[lang="en"]
            font-size: rem(24)
            color: $hex-light

      a
        span
          transition: all .4s cubic-bezier(.4,0,.2,1)

        &:hover, &:focus
          span
            &[lang="ko"]
              color: $hex-accent

            &[lang="en"]
              color: $hex-dark

    .summary
      display: flex
      flex-direction: column
      gap: rem(27)

      .descriptions
        display: flex
        flex-direction: column
        gap: rem(7)

        .description
          display: flex
          flex-direction: column

          p
            font-size: rem(16)
            line-height: 1.27

        .date
          time, cite
            font-size: rem(14)
            line-height: 1

          time::after
            content: '•'
            padding: 0 rem(5)
            color: $hex-light

      .languages
        div
          height: rem(16)

        dl
          display: flex

        div
          display: flex

        dt
          +screen-reader-only

        dd
          display: flex
          gap: rem(2)

          &.noTS
            +screen-reader-only

          &.useTypeScript
            &::before
              content: 'with.'
              font-size: rem(14)
              padding: 0 rem(3) 0 rem(12)

            i
              display: block
              width: rem(16)
              height: rem(16)

            em
              padding-left: rem(3)
              font-size: rem(14)
              font-weight: 900
              font-style: normal
              color: #3178C6

            span
              +screen-reader-only

          i
            display: block
            width: rem(16)
            height: rem(16)

          span
            transform: translateY(rem(-2))
            font-size: rem(16)
            font-weight: 900
            color: $hex-black

    .components
      display: flex
      flex-direction: column
      gap: rem(27)

      .primary
        display: flex
        flex-direction: column

        h3
          display: flex
          align-items: flex-end
          gap: rem(17)

          span
            font-weight: 700
            line-height: 1

            &[lang="ko"]
              display: flex
              align-items: flex-end
              gap: rem(7)
              font-size: rem(24)

              i
                display: block
                width: rem(5)
                height: rem(20)

            &[lang="en"]
              font-size: rem(16)
              color: $hex-light

      .secondary
        display: flex
        flex-direction: column
        padding-top: rem(17)

        h4
          display: flex
          align-items: flex-end
          gap: rem(7)

          span
            font-weight: 400
            line-height: 1

            &[lang="ko"]
              display: flex
              align-items: flex-end
              gap: rem(5)
              font-size: rem(20)

              i
                display: block
                width: rem(8)
                height: rem(18)

            &[lang="en"]
              font-size: rem(14)
              color: $hex-light

  .return
    transition: all .4s cubic-bezier(.4,0,.2,1)
    display: flex
    justify-content: center
    align-items: center
    gap: rem(7)
    background-color: transparent
    border: rem(2) solid $hex-dark
    border-radius: rem(5)
    height: rem(37)

    &:hover, &:focus
      border-color: $hex-accent
      background-color: $hex-accent

      svg
        transform: translateX(rem(-3))

        path
          fill: $hex-white

      span
        color: $hex-white
        letter-spacing: 0.07em

    svg
      transition: all .4s cubic-bezier(.4,0,.2,1)
      display: block
      width: rem(14)
      height: rem(14)

      path
        transition: all .4s cubic-bezier(.4,0,.2,1)

    span
      transition: all .4s cubic-bezier(.4,0,.2,1)
      font-size: rem(16)
      font-weight: 700
      line-height: 1
      color: $hex-black

.loading
  display: flex
  justify-content: center
  align-items: center
  flex: 1

  span
    +screen-reader-only

  i
    display: block
    width: rem(50)
    height: rem(50)
    border: rem(5) solid transparent
    border-radius: 50%
    animation: spin 4s cubic-bezier(.4,0,.2,1) infinite

@keyframes spin
  0%
    transform: rotate(0deg)
    border-right-color: $hex-accent
    border-bottom-color: $hex-accent

  25%
    transform: rotate(360deg)
    border: rem(5) solid transparent
    border-bottom-color: $hex-accent
    border-left-color: $hex-accent

  50%
    transform: rotate(720deg)
    border: rem(5) solid transparent
    border-top-color: $hex-accent
    border-left-color: $hex-accent

  75%
    transform: rotate(1080deg)
    border: rem(5) solid transparent
    border-top-color: $hex-accent
    border-right-color: $hex-accent

  100%
    transform: rotate(1440deg)
    border: rem(5) solid transparent
    border-right-color: $hex-accent
    border-bottom-color: $hex-accent
